<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CloudScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <CloudScraper.Properties.Settings>
      <setting name="Setting" serializeAs="String">
        <value>http://ya.ru</value>
      </setting>
      <setting name="SupportEmail" serializeAs="String">
        <value>cloudscraper@support.assembla.com</value>
      </setting>
      <setting name="S1Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/151</value>
      </setting>
      <setting name="S1StartNewButtonText" serializeAs="String">
        <value>Start New Transfer...</value>
      </setting>
      <setting name="S1ResumeButtonText" serializeAs="String">
        <value>Resume Existing Transfer...</value>
      </setting>
      <setting name="S2Header" serializeAs="String">
        <value>Choose Volumes To Transfer...</value>
      </setting>
      <setting name="S2Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/161</value>
      </setting>
      <setting name="S2LabelTotalSpace" serializeAs="String">
        <value>Total Space Required:</value>
      </setting>
      <setting name="S2NextButtonText" serializeAs="String">
        <value>Next &gt;&gt;</value>
      </setting>
      <setting name="S2BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="S2MessgeHeader" serializeAs="String">
        <value>Message</value>
      </setting>
      <setting name="S2MessageFirst" serializeAs="String">
        <value>Are you sure you don't want to move your system?</value>
      </setting>
      <setting name="S2MessageSecond" serializeAs="String">
        <value>In this case no cloud servers will be created!</value>
      </setting>
      <setting name="S3Header" serializeAs="String">
        <value>Choose Your Cloud</value>
      </setting>
      <setting name="S3Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/171</value>
      </setting>
      <setting name="S3BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="S3AmazonButtonText" serializeAs="String">
        <value>Amazon EC2</value>
      </setting>
      <setting name="S3WindowsAzureButtonText" serializeAs="String">
        <value>Windows Azure (Not supported)</value>
      </setting>
      <setting name="S3ElasticHostsButtonText" serializeAs="String">
        <value>Elastic Hosts</value>
      </setting>
      <setting name="S4Header" serializeAs="String">
        <value>Amazon EC2 Cloud Options</value>
      </setting>
      <setting name="S4AmazonLink" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/181</value>
      </setting>
      <setting name="S4BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="S4NextButtonText" serializeAs="String">
        <value>Next &gt;&gt;</value>
      </setting>
      <setting name="S4AmazonRegionLabelText" serializeAs="String">
        <value>Choose Region:</value>
      </setting>
      <setting name="S4AmazonAdvancedCheckBoxText" serializeAs="String">
        <value>Use advanced settings</value>
      </setting>
      <setting name="S4AmazonTypeLabelText" serializeAs="String">
        <value>Cloud server type:</value>
      </setting>
      <setting name="S4AmazonZoneLabelText" serializeAs="String">
        <value>Availability zone:</value>
      </setting>
      <setting name="S4AmazonGroupLabelText" serializeAs="String">
        <value>Security group:</value>
      </setting>
      <setting name="S4BucketLocated" serializeAs="String">
        <value>The bucket you specified is located in another region, please specify another bucket.</value>
      </setting>
      <setting name="S4awsIdLabelText" serializeAs="String">
        <value>    Access ID:</value>
      </setting>
      <setting name="S4awsKeyLabelText" serializeAs="String">
        <value>    Secret Access Key:</value>
      </setting>
      <setting name="S4ehRegionLabelText" serializeAs="String">
        <value>Choose Region:</value>
      </setting>
      <setting name="S4ehIdLabelText" serializeAs="String">
        <value>User UUID:</value>
      </setting>
      <setting name="S4ehKeyLabelText" serializeAs="String">
        <value>API Secret Key:</value>
      </setting>
      <setting name="S4ehHeader" serializeAs="String">
        <value>Elastic Hosts Cloud Options</value>
      </setting>
      <setting name="S4EHUserUIDToolTip" serializeAs="String">
        <value>Enter your API UUID. It could be got from Profile section of your ElasticHosts account.</value>
      </setting>
      <setting name="S4EHApiKeyToolTip" serializeAs="String">
        <value>Enter your Secret API key. It could be got from Profile section of your ElasticHosts account.</value>
      </setting>
      <setting name="S4EHLink" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/181</value>
      </setting>
      <setting name="S5Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/191</value>
      </setting>
      <setting name="S5NextButtonText" serializeAs="String">
        <value>Next &gt;&gt;</value>
      </setting>
      <setting name="S5BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="S5BrowseButtonText" serializeAs="String">
        <value>Browse...</value>
      </setting>
      <setting name="S5TotalSpaceLabelText" serializeAs="String">
        <value>Total Space Required:</value>
      </setting>
      <setting name="S5FreeSpaceLabelText" serializeAs="String">
        <value>Free Space:</value>
      </setting>
      <setting name="S5ErrorLabelText" serializeAs="String">
        <value>Not enough space!</value>
      </setting>
      <setting name="S5WarningHeader" serializeAs="String">
        <value>Warning</value>
      </setting>
      <setting name="S5DirectoryNotExistWarningMessage" serializeAs="String">
        <value>Directory doesn’t exist. Do you want to create it?</value>
      </setting>
      <setting name="S5WrongSymbolsWarningMessage" serializeAs="String">
        <value>The path specified contains invalid characters: \\ / : * ? \" &lt; &gt; |</value>
      </setting>
      <setting name="S6Header" serializeAs="String">
        <value>Save Transfer Configuration...</value>
      </setting>
      <setting name="S6Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/201</value>
      </setting>
      <setting name="S6NextButtonText" serializeAs="String">
        <value>Next &gt;&gt;</value>
      </setting>
      <setting name="S6BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="S6BrowseButtonText" serializeAs="String">
        <value>Browse...</value>
      </setting>
      <setting name="S6WarningHeader" serializeAs="String">
        <value>Warning</value>
      </setting>
      <setting name="S6WrongSymbolsWarningMessage" serializeAs="String">
        <value>File name contains invalid characters: \\ / : * ? \" &lt; &gt; |</value>
      </setting>
      <setting name="S7Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/211</value>
      </setting>
      <setting name="S7BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="S7FinishButtonText" serializeAs="String">
        <value>Finish</value>
      </setting>
      <setting name="S7WarningHeader" serializeAs="String">
        <value>Warning</value>
      </setting>
      <setting name="S7MailButtonText" serializeAs="String">
        <value>Request Support...</value>
      </setting>
      <setting name="R2Header" serializeAs="String">
        <value>Resume Your Transfer Task</value>
      </setting>
      <setting name="R2Link" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/221</value>
      </setting>
      <setting name="R2NextButtonText" serializeAs="String">
        <value>Next &gt;&gt;</value>
      </setting>
      <setting name="R2BackButtonText" serializeAs="String">
        <value>&lt;&lt; Back</value>
      </setting>
      <setting name="R2BrowseButtonText" serializeAs="String">
        <value>Browse...</value>
      </setting>
      <setting name="R2awsIdLabelText" serializeAs="String">
        <value>  Secret Key:</value>
      </setting>
      <setting name="R2WarningMessageHeader" serializeAs="String">
        <value>Warning</value>
      </setting>
      <setting name="R2WarningMessageText" serializeAs="String">
        <value>Incorrect .ini file</value>
      </setting>
      <setting name="FullOutputHeader" serializeAs="String">
        <value>Full output</value>
      </setting>
      <setting name="ZipFile" serializeAs="String">
        <value>test.zip</value>
      </setting>
      <setting name="SMTPServer" serializeAs="String">
        <value>smtp.yandex.ru</value>
      </setting>
      <setting name="SMTPLogin" serializeAs="String">
        <value>cloudscraper2@yandex.ru</value>
      </setting>
      <setting name="SMTPPassword" serializeAs="String">
        <value>cloudscraper</value>
      </setting>
      <setting name="TextFile" serializeAs="String">
        <value>transfer.txt</value>
      </setting>
      <setting name="MailSendMessage" serializeAs="String">
        <value>Report sent. You’ll be contacted via e-mail provided</value>
      </setting>
      <setting name="MailHeader" serializeAs="String">
        <value>Enter your contacts...</value>
      </setting>
      <setting name="MailUserNameLabelText" serializeAs="String">
        <value>Your Name:</value>
      </setting>
      <setting name="MailEmailLabelText" serializeAs="String">
        <value>E-mail:</value>
      </setting>
      <setting name="MailSendHeader" serializeAs="String">
        <value>Send Request</value>
      </setting>
      <setting name="TotalSizeGap" serializeAs="String">
        <value>2</value>
      </setting>
      <setting name="S4EHDirectUploadCheckBoxToolTip" serializeAs="String">
        <value>Tool tip for EH direct upload</value>
      </setting>
      <setting name="S4EHDeduplicationCheckBoxToolTip" serializeAs="String">
        <value>Tool tip for EH deduplication</value>
      </setting>
      <setting name="S4EHDrivesListBoxToolTip" serializeAs="String">
        <value>Tool tip for Drives List</value>
      </setting>
      <setting name="S1Header" serializeAs="String">
        <value>Cloudscraper Server Transfer</value>
      </setting>
      <setting name="S1StartNewButtonToolTip" serializeAs="String">
        <value>Click to configure your server migration.</value>
      </setting>
      <setting name="S1ResumeButtonToolTip" serializeAs="String">
        <value>Click to resume or repeat your previous migration.</value>
      </setting>
      <setting name="S2NextButtonToolTip" serializeAs="String">
        <value>Proceed to the next step.</value>
      </setting>
      <setting name="S2BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="S3WindowsAzureButtonToolTip" serializeAs="String">
        <value>Transfer your server image to Windows Azure.</value>
      </setting>
      <setting name="S3BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="S3AmazonButtonToolTip" serializeAs="String">
        <value>Transfer your server image to Amazon Elastic Compute Cloud.</value>
      </setting>
      <setting name="S3ElasticHostsButtonToolTip" serializeAs="String">
        <value>Transfer your server image to ElasticHosts cloud.</value>
      </setting>
      <setting name="S4TestButtonText" serializeAs="String">
        <value>Check Access</value>
      </setting>
      <setting name="S4AmazonBucketLabelText" serializeAs="String">
        <value>S3 Bucket:</value>
      </setting>
      <setting name="S4AmazonFolderKeyLabelText" serializeAs="String">
        <value>Folder in S3 Bucket:</value>
      </setting>
      <setting name="S4TestConnectionHeader" serializeAs="String">
        <value>Cloud Access Checked</value>
      </setting>
      <setting name="S4InvalidBucketText" serializeAs="String">
        <value>Invalid bucket name. Please, specify another one.</value>
      </setting>
      <setting name="S4CannotAccessBucketText" serializeAs="String">
        <value>Cannot access the bucket, please specify another bucket name.</value>
      </setting>
      <setting name="S4NoBucketExists" serializeAs="String">
        <value>The bucket name is valid and free to use.</value>
      </setting>
      <setting name="S4TestConnectionText" serializeAs="String">
        <value>Amazon AWS login succeeded.</value>
      </setting>
      <setting name="S4IDKeyInvalid" serializeAs="String">
        <value>Amazon AWS doesn't recognize entered keys! Check "Access Keys" section in Security Credentials page of your AWS account.</value>
      </setting>
      <setting name="S4EnterUUID" serializeAs="String">
        <value>Please, enter your ElasticHosts API credentials: UUID and API Key.</value>
      </setting>
      <setting name="S4BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="S4NextButtonToolTip" serializeAs="String">
        <value>Proceed to the next step.</value>
      </setting>
      <setting name="S5Header" serializeAs="String">
        <value>Specify Location to Store Images...</value>
      </setting>
      <setting name="S5NextButtonToolTip" serializeAs="String">
        <value>Proceed to the next step.</value>
      </setting>
      <setting name="S5BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="S5BrowseButtonToolTip" serializeAs="String">
        <value>Browse your computer and network shares.</value>
      </setting>
      <setting name="S6PathIncorrectWarningMessage" serializeAs="String">
        <value>File name is not correct</value>
      </setting>
      <setting name="S6NextButtonToolTip" serializeAs="String">
        <value>Proceed to the next step.</value>
      </setting>
      <setting name="S6BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="S6BrowseButtonToolTip" serializeAs="String">
        <value>Browse your computer and network shares.</value>
      </setting>
      <setting name="S7Header" serializeAs="String">
        <value>Transfer Process Console</value>
      </setting>
      <setting name="S7StartButtonText" serializeAs="String">
        <value>Start!</value>
      </setting>
      <setting name="S7FullOutputButtonText" serializeAs="String">
        <value>Show Full Output</value>
      </setting>
      <setting name="S7PythonErrorHeader" serializeAs="String">
        <value>Operation Failed</value>
      </setting>
      <setting name="S7PythonErrorMessage" serializeAs="String">
        <value>Error occured while starting the transfer process (migrate.pyc) </value>
      </setting>
      <setting name="S7XKeyWarningMessage" serializeAs="String">
        <value>Do you want to stop the ongoing transfer?</value>
      </setting>
      <setting name="S7BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="S7StartButtonToolTip" serializeAs="String">
        <value>Start the transfer process.</value>
      </setting>
      <setting name="S7MailButtonToolTip" serializeAs="String">
        <value>Send request to our support team so they could help.</value>
      </setting>
      <setting name="S7FullOutputButtonToolTip" serializeAs="String">
        <value>Shows detailed transfer process output.</value>
      </setting>
      <setting name="R2MainLabelText" serializeAs="String">
        <value>Load your previously saved transfer task you want to restart</value>
      </setting>
      <setting name="R2RedeployCheckBoxText" serializeAs="String">
        <value>Redeploy Uploaded Image</value>
      </setting>
      <setting name="R2UploadCheckBoxText" serializeAs="String">
        <value>Resume Previous Upload</value>
      </setting>
      <setting name="R2NextButtonToolTip" serializeAs="String">
        <value>Proceed to the next step.</value>
      </setting>
      <setting name="R2BackButtonToolTip" serializeAs="String">
        <value>Return to the previous window.</value>
      </setting>
      <setting name="R2BrowseButtonToolTip" serializeAs="String">
        <value>Browse your computer and network shares.</value>
      </setting>
      <setting name="R2RedeployUploadedCheckBoxToolTip" serializeAs="String">
        <value>Choose this option in case your image is already uploaded to create one more EC2 instance (VM) from it.</value>
      </setting>
      <setting name="R2ResumeUploadCheckBoxToolTip" serializeAs="String">
        <value>Choose this option to resume disrupted upload of image file already created.</value>
      </setting>
      <setting name="FilesToAttach" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>%Windir%\test.txt</string>
            <string>Migrate\Migrate\diskpart_open.tmp</string>
            <string>Migrate\Migrate\diskpart_close.tmp</string>
            <string>Migrate\Migrate\boto.log</string>
            <string>build</string>
            <string>Migrate\revision</string>
            <string>logs\gui.log</string>
            <string>logs\migrate.log</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="S5PathNetworkLoginFailure" serializeAs="String">
        <value>Failed to connect to network location. Please, specify another one.</value>
      </setting>
      <setting name="S4EHTestConnectionText" serializeAs="String">
        <value>EH login succeeded.</value>
      </setting>
      <setting name="S4EHIDKeyInvalid" serializeAs="String">
        <value>EH doesn't recognize entered keys! Check "Keys" section in Security Credentials page of your account.</value>
      </setting>
      <setting name="S4AzureRegionLabelText" serializeAs="String">
        <value>Region</value>
      </setting>
      <setting name="S4AzureIdLabelText" serializeAs="String">
        <value>Storage Account Name</value>
      </setting>
      <setting name="S4AzureKeyLabelText" serializeAs="String">
        <value>Primary Access Key</value>
      </setting>
      <setting name="S4AzureHeader" serializeAs="String">
        <value>Windows Azure Cloud Options</value>
      </setting>
      <setting name="S4AzureEnterID" serializeAs="String">
        <value>Please, enter your WindowsAzure API credentials: Storage Account Name and Primary Access Key.</value>
      </setting>
      <setting name="S4AzureTestConnectionText" serializeAs="String">
        <value>Azure login success. Unable to verify the storage account region.  Please fill in your subscription id and certificate in advanced tab.</value>
      </setting>
      <setting name="S4AzureContainerNameLabelText" serializeAs="String">
        <value>Container Name</value>
      </setting>
      <setting name="S4AzureSubscriptionIdText" serializeAs="String">
        <value>Azure Subscription Id</value>
      </setting>
      <setting name="S4AzureCertificateThumbprintText" serializeAs="String">
        <value>Certificate Thumbprint</value>
      </setting>
      <setting name="S4AzureIDKeyInvalid" serializeAs="String">
        <value>Azure doesn't recognize entered keys! Check "Keys" section in Security Credentials page of your account.</value>
      </setting>
      <setting name="S4AzureCertificateHeader" serializeAs="String">
        <value>Azure certificate</value>
      </setting>
      <setting name="S4AzureCertificateStoreError" serializeAs="String">
        <value>Can't access to Azure certificate store on you computer.</value>
      </setting>
      <setting name="S4AzureCertificateThumbprintError" serializeAs="String">
        <value>Certificate with the same thumprint was no found.</value>
      </setting>
      <setting name="S4AzureCertificateCreateError" serializeAs="String">
        <value>Error with makecert.exe</value>
      </setting>
      <setting name="S4AzureCertificateInvalid" serializeAs="String">
        <value>Certificate Id error.</value>
      </setting>
      <setting name="S4AzureRegionToolTip" serializeAs="String">
        <value>Select your region.</value>
      </setting>
      <setting name="S4AzureContainerToolTip" serializeAs="String">
        <value>Select a container (optional).</value>
      </setting>
      <setting name="S4AzureCreateThumbprintButtonToolTip" serializeAs="String">
        <value>Create and upload certificate to Windows Azure server.</value>
      </setting>
      <setting name="S4ehCompressionLabelText" serializeAs="String">
        <value>Compression level:</value>
      </setting>
      <setting name="S4EHCompressionUpDownToolTip" serializeAs="String">
        <value>Greater compression level means more compact intermediate image but would require more CPU resources while making the image.</value>
      </setting>
      <setting name="Separator" serializeAs="String">
        <value>|</value>
      </setting>
      <setting name="S4AmazonVPCLabelText" serializeAs="String">
        <value>VPC subnet:</value>
      </setting>
      <setting name="S4AzureAffinityText" serializeAs="String">
        <value>Affinity Group/Virtual Network:</value>
      </setting>
      <setting name="S4AzureAffinityToolTip" serializeAs="String">
        <value>Select an affinity group or a virtual network.</value>
      </setting>
      <setting name="S4AzureSubnetsText" serializeAs="String">
        <value>Subnets:</value>
      </setting>
      <setting name="S4AzureSubnetsToolTip" serializeAs="String">
        <value>Select a subnet inside the virtual network.</value>
      </setting>
      <setting name="S4AzureRegionCheckFailed" serializeAs="String">
        <value>Failed to retrieve region information.</value>
      </setting>
      <setting name="S4AzureSubscriptionIDError" serializeAs="String">
        <value>Please, check the subscription ID.</value>
      </setting>
      <setting name="S4AzureThumbprintIllFormed" serializeAs="String">
        <value>Thumbprint sould contain exactly 40 symbols.</value>
      </setting>
      <setting name="S5PathIncorrectWarningMessage" serializeAs="String">
        <value>Path is incorrect!</value>
      </setting>
      <setting name="S4AzureLink" serializeAs="String">
        <value>http://www.migrate2iaas.com/node/10692</value>
      </setting>
      <setting name="Buttons" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>AmazonCloudParameters|150,52|130,158|Amazon EC2|Transfer your server to Amazon Elastic Compute Cloud|Icons\\AWS3.png|128,128|true</string>
            <string>EHCloudParameters|290,52|130,158|ElasticHosts|Transfer your server to ElasticHosts|Icons\\ehbutton_lightblue.png|128,128|true</string>
            <string>AzureCloudParameters|430,52|130,158|Windows Azure|Transfer your server to Windows Azure|Icons\\azure.png|128,128|true</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="S4AmazonVPCToolTip" serializeAs="String">
        <value>Select your Virtual Private Cloud; or None if you'd like to migrate to EC2 Classic.</value>
      </setting>
      <setting name="S4AzureCertificateWebException" serializeAs="String">
        <value>Failed to connect to Windows Azure server.</value>
      </setting>
      <setting name="S4AzureDeployWmToolTip" serializeAs="String">
        <value>Select this to create a VM from the uploaded VHD.</value>
      </setting>
      <setting name="S4AzureApiKeyToolTip" serializeAs="String">
        <value>Enter your Windows Azure storage account primary access key.</value>
      </setting>
      <setting name="S4AzureUserUIDToolTip" serializeAs="String">
        <value>Enter your Windows Azure storage account. Your server image will be uploaded there.</value>
      </setting>
      <setting name="S4AzureSubscriptionIdToolTip" serializeAs="String">
        <value>Your Azure subscription ID, navigate to Azure Portal &gt; Settings &gt; Subscriptions to get its id</value>
      </setting>
      <setting name="MailSendFailedHeader" serializeAs="String">
        <value>Failed to send request</value>
      </setting>
      <setting name="S4AzureTestConnectionTextAdvancedMode" serializeAs="String">
        <value>Azure login success. Start validating your subscription ID and certificate...</value>
      </setting>
      <setting name="S4AzureRegionValid" serializeAs="String">
        <value>Azure subscription ID and certificate are valid.</value>
      </setting>
      <setting name="MailSendFailedMessage" serializeAs="String">
        <value>Please proceed to Support section of www.migrate2iaas.com to file a support ticket manually</value>
      </setting>
      <setting name="S4AzureCertificateNotFound" serializeAs="String">
        <value>Failed to load the certificate, make sure the credentials are correct.</value>
      </setting>
      <setting name="SupportDisclaimer" serializeAs="String">
        <value>Thanks for submitting the issue. You'll be contacted by Cloudscraper support in two business days.</value>
      </setting>
      <setting name="AddLicenseButton" serializeAs="String">
        <value>AddLicenseButton</value>
      </setting>
      <setting name="EHRegions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>lon-m|UK (London, Maidenhead)</string>
            <string>lon-p|UK (London, Portsmouth)</string>
            <string>ams-e|Netherlands (Amsterdam)</string>
            <string>hkg-e|Asia (Hong Kong)</string>
            <string>syd-v|Australia (Sydney)</string>
            <string>sjc-c|USA (California, San Jose)</string>
            <string>lax-p|USA (California, Los Angeles)</string>
            <string>dal-a|USA (Texas, Dallas)</string>
            <string>mmi-a|USA (Miami)</string>
            <string>tor-p|Canada (Toronto)</string>
            <string>https://api-east1.openhosting.com|OpenHosting (Miami)</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="DefaultLabelFont" serializeAs="String">
        <value/>
      </setting>
      <setting name="LicenseExpiredMsg" serializeAs="String">
        <value>License key period expired. Please contact sales@migrate2iaas.com to renew the license key.</value>
      </setting>
      <setting name="LicrnseValid1" serializeAs="String">
        <value>Your license file is valid until </value>
      </setting>
      <setting name="LicrnseValid2" serializeAs="String">
        <value>Are you sure you want to overwrite the license file?</value>
      </setting>
      <setting name="LicenseInstalledMsg" serializeAs="String">
        <value>License has been installed. Please restart the application.</value>
      </setting>
      <setting name="LicenseWrongFormatMsg" serializeAs="String">
        <value>Wrong or outdated license format</value>
      </setting>
      <setting name="S4EnterAWS" serializeAs="String">
        <value>
          Please, enter your AWS credentials:
          Access ID and Secret Access Key.
        </value>
      </setting>
      <setting name="S4ehDirectUploadCheckBoxText" serializeAs="String">
        <value>
          Direct upload.
          No intermidiate images will be created.
        </value>
      </setting>
      <setting name="S4AmazonAccessIDToolTip" serializeAs="String">
        <value>
          Enter your Amazon Access Key ID.
          It could be found on Security Credentials page of your AWS account.
        </value>
      </setting>
      <setting name="S4AmazonAccessKeyToolTip" serializeAs="String">
        <value>
          Enter your Amazon Access Secret Key.
          It could be found on Security Credentials page of your AWS account.
        </value>
      </setting>
      <setting name="S4AmazonAvailabilityZoneToolTip" serializeAs="String">
        <value>
          Choose Availability Zone where your cloud server is to run.
          Availiability Zone is subsection of EC2 datacenter.
          Press 'Check Access' button to download availability zone list.
        </value>
      </setting>
      <setting name="S4AmazonS3BucketToolTip" serializeAs="String">
        <value>
          Enter S3 bucket name to upload your server image to.
          See manual for more info on S3 buckets.
          Press 'Check Access' button in order to test if bucket is available.
        </value>
      </setting>
      <setting name="S4AmazonFolderToolTip" serializeAs="String">
        <value>
          Provide a folder in your S3 bucket,
          e.g. upload2013-06-02, to identify your uploaded image.
        </value>
      </setting>
      <setting name="S4AmazonSecurityGroupToolTip" serializeAs="String">
        <value>
          Security group defines firewall settings for your instance.
          Attention! It couldn't be changed so choose wisely.
          See manual and AWS documentation for more info on security groups.
          Press 'Check Access' button to download security group list.
        </value>
      </setting>
      <setting name="S5WarningMessage" serializeAs="String">
        <value>
Folder is not empty.
It's recommended to use empty folders to store images.
Do you wish to proceed anyway?
        </value>
      </setting>
      <setting name="S6WarningMessage" serializeAs="String">
        <value>
Transfer configuration file with this name already exists.
Do you want to rewrite it?
        </value>
      </setting>
      <setting name="HelpButtonToolTip" serializeAs="String">
        <value>
          Need help?
          Click here to read manual entry on this step.
        </value>
      </setting>
      <setting name="S4AzureCertificateCreateSuccess" serializeAs="String">
        <value>
          You’ll be redirected to Windows Azure certificate management site.
          Login and upload your newly created certificate (.cer) file.
        </value>
      </setting>
      <setting name="S4AzureRegionInvalid" serializeAs="String">
        <value>
          Storage account you specified belongs to another location.
          You couldn’t use virtual hard drives from the storage account in region you specified.
        </value>
      </setting>
      <setting name="S4AzureCertificateUploadWait" serializeAs="String">
        <value>
          Attention! Proceed only after the certificate is uploaded!

          In newly opened browser window login to Windows Azure, choose Settings. Then choose Management Certificates tab, click upload and select certificate file you created for uploading.
        </value>
      </setting>
      <setting name="Regions" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>us-east-1|US East (Northern Virginia)</string>
            <string>us-west-2|US West (Oregon)</string>
            <string>us-west-1|US West (Northern California)</string>
            <string>eu-west-1|EU (Ireland)</string>
            <string>eu-central-1|EU (Frankfurt)</string>
            <string>ap-southeast-1|Asia Pacific (Singapore)</string>
            <string>ap-southeast-2|Asia Pacific (Sydney)</string>
            <string>ap-northeast-1|Asia Pacific (Tokyo)</string>
            <string>sa-east-1|South America (Sao Paulo)</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="ServerTypes" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;m1.small|M1 Small&lt;/string&gt;
            &lt;string&gt;m1.medium|M1 Medium&lt;/string&gt;
            &lt;string&gt;m1.large|M1 Large&lt;/string&gt;
            &lt;string&gt;m1.xlarge|M1 Extra Large&lt;/string&gt;
            &lt;string&gt;m3.2xlarge|M3 Double Extra Large&lt;/string&gt;
            &lt;string&gt;m3.xlarge|M3 Extra Large&lt;/string&gt;
          &lt;string&gt;t2.micro|t2.micro (VPC only)&lt;/string&gt;

          &lt;string&gt;t2.small|t2.small(VPC only)&lt;/string&gt;
          &lt;string&gt;t2.medium|t2.medium(VPC only)&lt;/string&gt;
          &lt;string&gt;m3.medium|m3.medium(VPC only)&lt;/string&gt;
          &lt;string&gt;m3.large|m3.large(VPC only)&lt;/string&gt;
          &lt;string&gt;m3.xlarge|m3.xlarge(VPC only)&lt;/string&gt;
          &lt;string&gt;m3.2xlarge|m3.2xlarge(VPC only)&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="AzureRegions" serializeAs="String">
        <value>
          &lt;ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema"&gt;
            &lt;string&gt;West US|West US (California)&lt;/string&gt;
            &lt;string&gt;East US|East US (Virginia)&lt;/string&gt;
            &lt;string&gt;East Asia|East Asia (Hong Kong)&lt;/string&gt;
            &lt;string&gt;Southeast Asia|Southeast Asia&lt;/string&gt;
            &lt;string&gt;West Europe|West Europe (Netherlands)&lt;/string&gt;
            &lt;string&gt;North Europe|North Europe (Ireland)&lt;/string&gt;
            &lt;string&gt;Central US|Central US (Iowa)&lt;/string&gt;
            &lt;string&gt;East US 2|East US 2 (Virginia)&lt;/string&gt;
            &lt;string&gt;North Central US|North Central US (Illinois)&lt;/string&gt;
            &lt;string&gt;South Central US|South Central US (Texas)&lt;/string&gt;
            &lt;string&gt;Southeast Asia|Southeast Asia (Singapore)&lt;/string&gt;
            &lt;string&gt;Japan East|Japan East (Tokyo, Saitama)&lt;/string&gt;
            &lt;string&gt;Japan West|Japan West (Osaka)&lt;/string&gt;
            &lt;string&gt;Brazil South|Brazil South (Sao Paulo State)&lt;/string&gt;
            &lt;string&gt;Australia East|Australia East (New South Wales)&lt;/string&gt;
            &lt;string&gt;Australia Southeast|Australia Southeast (Victoria)&lt;/string&gt;
            &lt;string&gt;Central India|Central India (Pune)&lt;/string&gt;
            &lt;string&gt;South India|South India (Chennai)&lt;/string&gt;
            &lt;string&gt;West India|West India (Mumbai)&lt;/string&gt;
            &lt;string&gt;China East|China East (Shanghai)&lt;/string&gt;
           &lt;string&gt;China North|China North (Beijing)&lt;/string&gt;
          &lt;/ArrayOfString&gt;
        </value>
      </setting>
      <setting name="S4TestButtonToolTip" serializeAs="String">
        <value>
          Performs test login to the cloud.
          Queries advanced options.
        </value>
      </setting>
      <setting name="S4AzureThumbprintToolTip" serializeAs="String">
        <value>
          Your Azure management certificate thumbprint, navigate to Azure Portal &gt; Settings &gt; Management Certificates to get it.
          Note the certificate should be installed on the machine. Consult manual for more info
        </value>
      </setting>
      <setting name="S5MainLabelText" serializeAs="String">
        <value>
          Your data will be saved into intermediate disk image files.

          Please choose folder where to store your disk images.

          There should be enough free space to store them.

          You are free to delete them when transfer completes.
        </value>
      </setting>
      <setting name="S6MainLabelText" serializeAs="String">
        <value>
          Save your configuration settings into a file.

          Use the file to resume your upload or deploy several cloud server instances based on the same uploaded image.
        </value>
      </setting>
      <setting name="LicenseNotFoundMsg" serializeAs="String">
        <value>
          No license key file found.

          The software will work in demo mode.

          Maximum data to be uploaded is limited to 30 GB.

          Please browse to www.migrate2iaas.com to obtain a license.
        </value>
      </setting>
    </CloudScraper.Properties.Settings>
  </userSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
