<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudScraper.Properties.Settings>
            <setting name="Regions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>us-east-1/US East (Northern Virginia)</string>
                        <string>us-west-2/US West (Oregon)</string>
                        <string>us-west-1/US West (Northern California)</string>
                        <string>eu-west-1/EU (Ireland)</string>
                        <string>ap-southeast-1/Asia Pacific (Singapore)</string>
                        <string>ap-southeast-2/Asia Pacific (Sydney)</string>
                        <string>ap-northeast-1/Asia Pacific (Tokyo)</string>
                        <string>sa-east-1/South America (Sao Paulo)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Separator" serializeAs="String">
                <value>/</value>
            </setting>
            <setting name="S3Header" serializeAs="String">
                <value>Choose Your Cloud</value>
            </setting>
            <setting name="S5Header" serializeAs="String">
                <value>Images Location...</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value>http://ya.ru</value>
            </setting>
            <setting name="SupportEmail" serializeAs="String">
                <value>cloudscraper@support.assembla.com</value>
            </setting>
            <setting name="S1StartNewButtonText" serializeAs="String">
                <value>Start New Transfer...</value>
            </setting>
            <setting name="S1ResumeButtonText" serializeAs="String">
                <value>Resume Existing Transfer...</value>
            </setting>
            <setting name="S2LabelTotalSpace" serializeAs="String">
                <value>Total Space Required:</value>
            </setting>
            <setting name="S2NextButtonText" serializeAs="String">
                <value>Next &gt;&gt;</value>
            </setting>
            <setting name="S2BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="S3BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="S3AmazonButtonText" serializeAs="String">
                <value>Amazon EC2</value>
            </setting>
            <setting name="S3WindowsAzureButtonText" serializeAs="String">
                <value>Windows Azure (Not supported)</value>
            </setting>
            <setting name="S4BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="S4NextButtonText" serializeAs="String">
                <value>Next &gt;&gt;</value>
            </setting>
            <setting name="S4TestButtonText" serializeAs="String">
                <value>Test Connection</value>
            </setting>
            <setting name="S4AmazonRegionLabelText" serializeAs="String">
                <value>Choose Region:</value>
            </setting>
            <setting name="S4AmazonAdvancedCheckBoxText" serializeAs="String">
                <value>Use advanced settings</value>
            </setting>
            <setting name="S4AmazonBucketLabelText" serializeAs="String">
                <value>Specify your S3 Bucket:</value>
            </setting>
            <setting name="S4AmazonFolderKeyLabelText" serializeAs="String">
                <value>Specify folder (key):</value>
            </setting>
            <setting name="S4AmazonTypeLabelText" serializeAs="String">
                <value>Specify your cloud server type:</value>
            </setting>
            <setting name="S4AmazonZoneLabelText" serializeAs="String">
                <value>Specify your availability zone:</value>
            </setting>
            <setting name="S4AmazonGroupLabelText" serializeAs="String">
                <value>Specify your security group:</value>
            </setting>
            <setting name="S5NextButtonText" serializeAs="String">
                <value>Next &gt;&gt;</value>
            </setting>
            <setting name="S5BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="S5BrowseButtonText" serializeAs="String">
                <value>Browse...</value>
            </setting>
            <setting name="S5MainLabelText" serializeAs="String">
                <value>Please choose folder where to store your server disk images:</value>
            </setting>
            <setting name="S5TotalSpaceLabelText" serializeAs="String">
                <value>Total Space Required:</value>
            </setting>
            <setting name="S5FreeSpaceLabelText" serializeAs="String">
                <value>Free Space:</value>
            </setting>
            <setting name="S5ErrorLabelText" serializeAs="String">
                <value>Not enough space!</value>
            </setting>
            <setting name="S6NextButtonText" serializeAs="String">
                <value>Next &gt;&gt;</value>
            </setting>
            <setting name="S6BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="S6BrowseButtonText" serializeAs="String">
                <value>Browse...</value>
            </setting>
            <setting name="S7BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="S7StartButtonText" serializeAs="String">
                <value>Start</value>
            </setting>
            <setting name="S7FinishButtonText" serializeAs="String">
                <value>Finish</value>
            </setting>
            <setting name="S7FullOutputButtonText" serializeAs="String">
                <value>Show full output</value>
            </setting>
            <setting name="R2MainLabelText" serializeAs="String">
                <value>Load your previously saved transfer task</value>
            </setting>
            <setting name="R2RedeployCheckBoxText" serializeAs="String">
                <value>Redeploy Uploaded Image (creates cloud server from the image already uploaded)</value>
            </setting>
            <setting name="R2NextButtonText" serializeAs="String">
                <value>Next &gt;&gt;</value>
            </setting>
            <setting name="R2BackButtonText" serializeAs="String">
                <value>&lt;&lt; Back</value>
            </setting>
            <setting name="R2BrowseButtonText" serializeAs="String">
                <value>Browse...</value>
            </setting>
            <setting name="S4TestConnectionHeader" serializeAs="String">
                <value>Test connection</value>
            </setting>
            <setting name="S4InvalidBucketText" serializeAs="String">
                <value>Invalid bucket name.</value>
            </setting>
            <setting name="S4CannotAccessBucketText" serializeAs="String">
                <value>Cannot access the bucket, please specify another one.</value>
            </setting>
            <setting name="S4NoBucketExists" serializeAs="String">
                <value>No bucket with name specified exists, it’ll be created automatically.</value>
            </setting>
            <setting name="S4BucketLocated" serializeAs="String">
                <value>The bucket you specified is located in another region, please specify another bucket.</value>
            </setting>
            <setting name="S4EnterAWS" serializeAs="String">
                <value>Enter your AWSId and AWSKey.</value>
            </setting>
            <setting name="S2MessgeHeader" serializeAs="String">
                <value>Message</value>
            </setting>
            <setting name="S2MessageFirst" serializeAs="String">
                <value>Are you sure you don't want to move your system?</value>
            </setting>
            <setting name="S2MessageSecond" serializeAs="String">
                <value>In this case no cloud servers will be created!</value>
            </setting>
            <setting name="FullOutputHeader" serializeAs="String">
                <value>Full output</value>
            </setting>
            <setting name="FilesToAttach" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>%Windir%\test.txt</string>
                        <string>test1.txt</string>
                        <string>test2.txt</string>
                        <string>test3.txt</string>
                        <string>logs\migrate.log</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="ZipFile" serializeAs="String">
                <value>test.zip</value>
            </setting>
            <setting name="S7PythonErrorHeader" serializeAs="String">
                <value>Error</value>
            </setting>
            <setting name="S7PythonErrorMessage" serializeAs="String">
                <value>Error occur during start migrate.py </value>
            </setting>
            <setting name="SMTPServer" serializeAs="String">
                <value>smtp.yandex.ru</value>
            </setting>
            <setting name="SMTPLogin" serializeAs="String">
                <value>cloudscraper2@yandex.ru</value>
            </setting>
            <setting name="SMTPPassword" serializeAs="String">
                <value>cloudscraper</value>
            </setting>
            <setting name="TextFile" serializeAs="String">
                <value>transfer.txt</value>
            </setting>
            <setting name="S6WarningHeader" serializeAs="String">
                <value>Warning</value>
            </setting>
            <setting name="S6WarningMessage" serializeAs="String">
                <value>Transfer configuration file already exists, do you want to rewrite it?</value>
            </setting>
            <setting name="S5WarningHeader" serializeAs="String">
                <value>Warning</value>
            </setting>
            <setting name="S5WarningMessage" serializeAs="String">
                <value>Folder is  not empty</value>
            </setting>
            <setting name="S5DirectoryNotExistWarningMessage" serializeAs="String">
                <value>Directory doesn’t exist. Do you want to create it?</value>
            </setting>
            <setting name="S6PathIncorrectWarningMessage" serializeAs="String">
                <value>File name incorrect</value>
            </setting>
            <setting name="MailSendMessage" serializeAs="String">
                <value>Report sent. You’ll be contacted via e-mail provided</value>
            </setting>
            <setting name="S7XKeyWarningMessage" serializeAs="String">
                <value>Do you want to stop the transfer?</value>
            </setting>
            <setting name="S7WarningHeader" serializeAs="String">
                <value>Warning</value>
            </setting>
            <setting name="S1Header" serializeAs="String">
                <value>Cloudscraper Server Clone</value>
            </setting>
            <setting name="S2Header" serializeAs="String">
                <value>Choose Volumes To Transfer...</value>
            </setting>
            <setting name="S4Header" serializeAs="String">
                <value>Amazon EC2 Cloud Options</value>
            </setting>
            <setting name="S6Header" serializeAs="String">
                <value>Save Transfer Configuration...</value>
            </setting>
            <setting name="S7Header" serializeAs="String">
                <value>Transfer Process</value>
            </setting>
            <setting name="R2Header" serializeAs="String">
                <value>Resume Your Transfer Task</value>
            </setting>
            <setting name="S1Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/151</value>
            </setting>
            <setting name="S2Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/161</value>
            </setting>
            <setting name="S3Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/171</value>
            </setting>
            <setting name="S4AmazonLink" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/181</value>
            </setting>
            <setting name="S4EHLink" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/181</value>
            </setting>
            <setting name="S5Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/191</value>
            </setting>
            <setting name="S6Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/201</value>
            </setting>
            <setting name="S7Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/211</value>
            </setting>
            <setting name="R2Link" serializeAs="String">
                <value>http://www.migrate2iaas.com/node/221</value>
            </setting>
            <setting name="S3ElasticHostsButtonText" serializeAs="String">
                <value>Elastic Hosts</value>
            </setting>
            <setting name="S4awsIdLabelText" serializeAs="String">
                <value>    Access ID:</value>
            </setting>
            <setting name="S4awsKeyLabelText" serializeAs="String">
                <value>    Secret Access Key:</value>
            </setting>
            <setting name="S6MainLabelText" serializeAs="String">
                <value>Save your transfer configuration settings:</value>
            </setting>
            <setting name="S7MailButtonText" serializeAs="String">
                <value>Request Support...</value>
            </setting>
            <setting name="R2UploadCheckBoxText" serializeAs="String">
                <value>Resume Upload (check if your local images are already created)</value>
            </setting>
            <setting name="R2awsIdLabelText" serializeAs="String">
                <value>  Secret Key:</value>
            </setting>
            <setting name="S4TestConnectionText" serializeAs="String">
                <value>Connection was tested successfully.</value>
            </setting>
            <setting name="S4IDKeyInvalid" serializeAs="String">
                <value>Amazon AWS doesn't recognize keys you entered! Check "Access Keys" section in security credentials page of your AWS account.</value>
            </setting>
            <setting name="MailHeader" serializeAs="String">
                <value>Enter your contacts...</value>
            </setting>
            <setting name="MailUserNameLabelText" serializeAs="String">
                <value>Your Name:</value>
            </setting>
            <setting name="MailEmailLabelText" serializeAs="String">
                <value>E-mail:</value>
            </setting>
            <setting name="S6WrongSymbolsWarningMessage" serializeAs="String">
                <value>File name contains invalid characters: \\ / : * ? \" &lt; &gt; |</value>
            </setting>
            <setting name="MailSendFailedHeader" serializeAs="String">
                <value>Request Send Failed</value>
            </setting>
            <setting name="MailSendHeader" serializeAs="String">
                <value>Send Request</value>
            </setting>
            <setting name="S3WindowsAzureButtonToolTip" serializeAs="String">
                <value>Windows Azure</value>
            </setting>
            <setting name="EHRegions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>lon-m/UK (London, Maidenhead)</string>
                        <string>lon-p/UK (London, Portsmouth)</string>
                        <string>ams-e/Netherlands (Amsterdam)</string>
                        <string>hkg-e/Asia (Hong Kong)</string>
                        <string>syd-v/Australia (Sydney)</string>
                        <string>sjc-c/USA (California, San Jose)</string>
                        <string>lax-p/USA (California, Los Angeles)</string>
                        <string>sat-p/USA (Texas, San Antonio)</string>
                        <string>tor-p/Canada (Toronto)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="R2WarningMessageHeader" serializeAs="String">
                <value>Warning</value>
            </setting>
            <setting name="R2WarningMessageText" serializeAs="String">
                <value>Incorrect .ini file</value>
            </setting>
            <setting name="S4EnterUUID" serializeAs="String">
                <value>Enter your UUID and APIKey.</value>
            </setting>
            <setting name="S4ehRegionLabelText" serializeAs="String">
                <value>Choose Region:</value>
            </setting>
            <setting name="S4ehIdLabelText" serializeAs="String">
                <value>User UUID:</value>
            </setting>
            <setting name="S4ehKeyLabelText" serializeAs="String">
                <value>API Secret Key:</value>
            </setting>
            <setting name="S4ehDirectUploadCheckBoxText" serializeAs="String">
                <value>Direct upload</value>
            </setting>
            <setting name="S4ehHeader" serializeAs="String">
                <value>Elastic Hosts Cloud Options</value>
            </setting>
            <setting name="S5PathIncorrectWarningMessage" serializeAs="String">
                <value>Path is incorrect!</value>
            </setting>
            <setting name="S5WrongSymbolsWarningMessage" serializeAs="String">
                <value>The path specified contains invalid characters: \\ / : * ? \" &lt; &gt; |</value>
            </setting>
            <setting name="S1StartNewButtonToolTip" serializeAs="String">
                <value>Starts new transfer. Click here if you run Cloudscraper first time for this server.</value>
            </setting>
            <setting name="S1ResumeButtonToolTip" serializeAs="String">
                <value>Resume existing transfer. Click here if you have already configured your transfer task and wish to resume or repeat it.</value>
            </setting>
            <setting name="S2NextButtonToolTip" serializeAs="String">
                <value>Proceed to the next step</value>
            </setting>
            <setting name="S2BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="S4BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="S4NextButtonToolTip" serializeAs="String">
                <value>Proceed to the next step</value>
            </setting>
            <setting name="S4TestButtonToolTip" serializeAs="String">
                <value>Tests your connectivity and credentials. It also requests the cloud what advanced options are available.</value>
            </setting>
            <setting name="S3BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="S3AmazonButtonToolTip" serializeAs="String">
                <value>Transfer your server to Amazon Elastic Compute Cloud</value>
            </setting>
            <setting name="S3ElasticHostsButtonToolTip" serializeAs="String">
                <value>Transfer your server to ElasticHosts</value>
            </setting>
            <setting name="S5NextButtonToolTip" serializeAs="String">
                <value>Proceed to the next step</value>
            </setting>
            <setting name="S5BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="S5BrowseButtonToolTip" serializeAs="String">
                <value>Browse your computer and network shares</value>
            </setting>
            <setting name="S6NextButtonToolTip" serializeAs="String">
                <value>Proceed to the next step</value>
            </setting>
            <setting name="S6BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="S6BrowseButtonToolTip" serializeAs="String">
                <value>Browse your computer and network shares</value>
            </setting>
            <setting name="R2NextButtonToolTip" serializeAs="String">
                <value>Proceed to the next step</value>
            </setting>
            <setting name="R2BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="R2BrowseButtonToolTip" serializeAs="String">
                <value>Browse your computer and network shares</value>
            </setting>
            <setting name="S7BackButtonToolTip" serializeAs="String">
                <value>Return to the previous window</value>
            </setting>
            <setting name="S7StartButtonToolTip" serializeAs="String">
                <value>Proceed to the next step</value>
            </setting>
            <setting name="S7MailButtonToolTip" serializeAs="String">
                <value>Send request to our support team so they could help troubleshooting the failed transfer.</value>
            </setting>
            <setting name="S7FullOutputButtonToolTip" serializeAs="String">
                <value>Shows detailed transfer output</value>
            </setting>
            <setting name="HelpButtonToolTip" serializeAs="String">
                <value>Click here to read manual entry on this window</value>
            </setting>
            <setting name="Buttons" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>AmazonCloudParameters/255,22/189,70/Amazon EC2/Transfer your server to Amazon Elastic Compute Cloud/Icons\\Amazon.ico/32,32/true</string>
                        <string>EHCloudParameters/255,174/189,70/ElasticHosts/Transfer your server to ElasticHosts/Icons\\Elastic.ico/32,32/true</string>
                        <string>WindowsAzureCloudParameters/255,98/189,70/WindowsAzure (Not supported)/Transfer your server to WindowsAzure/Icons\\Azure.ico/32,32/false</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="TotalSizeGap" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="S4AmazonAccessIDToolTip" serializeAs="String">
                <value>Enter your Amazon Access Key ID here...</value>
            </setting>
            <setting name="S4AmazonAccessKeyToolTip" serializeAs="String">
                <value>Enter corresponding Amazon Access Secret Key here...</value>
            </setting>
            <setting name="S4AmazonAvailabilityZoneToolTip" serializeAs="String">
                <value>Choose Availability Zone (sub-datacenter) where your cloud server instance will run.
Press 'Test Connection' button to get available zones.</value>
            </setting>
            <setting name="S4EHUserUIDToolTip" serializeAs="String">
                <value>Enter your API UUID. It could be got from Profile section of your ElasticHosts account.</value>
            </setting>
            <setting name="S4EHApiKeyToolTip" serializeAs="String">
                <value>Enter your Secret API key. It could be got from Profile section of your ElasticHosts account.</value>
            </setting>
            <setting name="S4AmazonS3BucketToolTip" serializeAs="String">
                <value>Enter S3 bucket name you wish to save the image to.
The bucket name should be unique for whole S3 system.
Press 'Test Connection' button in order to test whether the bucket name is available.</value>
            </setting>
            <setting name="S4AmazonFolderToolTip" serializeAs="String">
                <value>Enter folder name in your bucket to save the image to.</value>
            </setting>
            <setting name="S4AmazonSecurityGroupToolTip" serializeAs="String">
                <value>Choose Security Group. Security group defines firewall settings for your instance.
Attention: it couldn't be changed so choose wisely
Alternatively create new security group for the machine in the specified region using AWS EC2 management console.
Consult AWS documentation for more info.</value>
            </setting>
            <setting name="ServerTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>m1.medium/M1 Medium</string>
                        <string>m1.small/M1 Small</string>
                        <string>m1.large/M1 Large</string>
                        <string>m1.xlarge/M1 Extra Large</string>
                        <string>m3.2xlarge/M3 Double Extra Large</string>
                        <string>m3.xlarge/M3 Extra Large</string>
                    </ArrayOfString>
                </value>
            </setting>
        </CloudScraper.Properties.Settings>
    </userSettings>
</configuration>