<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <targets>
        <target xsi:type="AsyncWrapper"
            name="asyncwrapperfile"
            queueLimit="100000"
            batchSize="5000"
            overflowAction="Grow">
          <target name="file" xsi:type="File" keepFileOpen="false" fileName="${basedir}/logs/${shortdate}.txt" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Debug" writeTo="asyncwrapperfile" />
    </rules>

</nlog>
