3 ICON "Icons\\Cloud.ico"
2 24 "CloudScraper.exe.manifest"
/* 
Run rc.exe (could be found in Windows SDK or Visual Studio) on it to get res file containing appropriate manifest and icon. 
Really dunno why but the first string is ignored but it's needed in order to compile...
*/