1 24 "CloudScraper.exe.manifest"
2 ICON "Icons\\Cloud.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,6,0,0
PRODUCTVERSION 0,6,0,0
BEGIN
 BLOCK "StringFileInfo"
 BEGIN
  BLOCK "040904b0"
        BEGIN
  VALUE "Comments", "Cloudscraper Migration Utility"
  VALUE "CompanyName", "M2IAAS INC"
  VALUE "FileDescription", "Cloudscraper Migration Utility"
  VALUE "FileVersion", "V0.6.0.0"
  VALUE "LegalCopyright", "(C)2015 M2IAAS INC"
  VALUE "OriginalFilename", "CloudScraper.exe"
  VALUE "ProductName", "Cloudscraper"
  VALUE "ProductVersion", "V0.6.0.0"
        END
 END
 BLOCK "VarFileInfo"
 BEGIN
  VALUE "Translation", 0x0409,1200
 END
END

/*should be built via rc.exe to make a .res file which is actually used*/