<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CloudScraper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CloudScraper.Properties.Settings>
            <setting name="OSFolder" serializeAs="String">
                <value>Windows</value>
            </setting>
            <setting name="ServerTypes" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>m1.medium/M1 Medium</string>
                        <string>m1.small/M1 Small</string>
                        <string>m1.large/M1 Large</string>
                        <string>m1.xlarge/M1 Extra Large</string>
                        <string>m3.2xlarge/M3 Double Extra Large</string>
                        <string>m3.xlarge/M3 Extra Large</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Regions" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>us-east-1/US East (Northern Virginia)</string>
                        <string>us-west-2/US West (Oregon)</string>
                        <string>us-west-1/US West (Northern California)</string>
                        <string>eu-west-1/EU (Ireland)</string>
                        <string>ap-southeast-1/Asia Pacific (Singapore)</string>
                        <string>ap-southeast-2/Asia Pacific (Sydney)</string>
                        <string>ap-northeast-1/Asia Pacific (Tokyo)</string>
                        <string>sa-east-1/South America (Sao Paulo)</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Separator" serializeAs="String">
                <value>/</value>
            </setting>
        </CloudScraper.Properties.Settings>
    </userSettings>
</configuration>